name: CI Test
on: 
  push:
    branches:
    - main

jobs:
  first_job:
    name: hehe
    runs-on: ubuntu-latest

    steps:
    - name: Setup Node
      uses: actions/setup-node@v4
      with: 
        node-version: '20'
        
    - name: npm install
      run: npm install

    - name: run lint
      run: npm run lint

    - name: run test
      run: npm run test
    
  
